<!-- 右侧内容 -->
				<div class="app-content">
					<section class="section">
						<div class="row">
						    <div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
								<div class="card">
									<div class="card-body knob-chart">
										<div class="row mb-0">
											<div class="col-4">
												<div class="card-icon d-flex justify-content-center">
													  <img src="/assets/img/total.png" alt="cny">
												</div>
											</div>
											<div class="col-8">
												<div class="dash3 text-center">
													<small class="text-muted mt-0">总资产(行情)</small>
													<h2 class="text-dark mb-0" id="tAsset"></h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
								<div class="card">
									<div class="card-body knob-chart">
										<div class="row mb-0">
											<div class="col-4">
											<div class="card-icon d-flex justify-content-center">
											   <img src="/assets/img/total.png" alt="cny">
											</div>
											</div>
											<div class="col-8">
												<div class="dash3 text-center">
													<small class="text-muted mt-0">总资产(平台)</small>
													<h2 class="text-dark mb-0">￥{$indexArr.cny_money|round=2}</h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                            <div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
                                <div class="card">
                                    <div class="card-body knob-chart">
                                        <div class="row mb-0">
                                            <div class="col-4">
                                                <div class="card-icon d-flex justify-content-center">
                                                    <img src="/assets/img/usdt.png" alt="BTC">
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="dash3 text-center">
                                                    <small class="text-muted mt-0">USDT</small>
                                                    <h2 class="text-dark mb-0" id="usdt">${$indexArr.usdt}</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-sm-6 col-md-12">
                                <div class="card">
                                    <div class="card-body knob-chart">
                                        <div class="row mb-0">
                                            <div class="col-4">
                                                <div class="card-icon d-flex justify-content-center">
                                                    <img src="/assets/img/usdt.png" alt="cny">
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="dash3 text-center">
                                                    <small class="text-muted mt-0">总收益</small>
                                                    <h2 class="text-dark mb-0">${$indexArr.shouyi|round=2}</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body knob-chart">
										<div class="text-center">
											<span class="text-muted">总收入</span>
											<h4 class="mt-1">${$indexArr.shopnum|round=2}</h4>
											<div class="card-progressbar mb-0 mt-4">
												<div class="progress h-6">
												  <div class="progress-bar bg-success w-80" role="progressbar"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body knob-chart">
										<div class="text-center">
											<span class="text-muted">总提现</span>
											<h4 class="mt-1">${$indexArr.tixian|round=2}</h4>
											<div class="card-progressbar mb-0 mt-4">
												<div class="progress h-6" style="height: 6px;">
												  <div class="progress-bar bg-primary w-60" role="progressbar"></div>
												  <input type="hidden" name="ethW" id="ethW" value="">
												  <input type="hidden" name="btcW" id="btcW" value="">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body knob-chart">
										<div class="text-center">
											<span class="text-muted">今日收入</span>
											<h4 class="mt-1" id="tROrder">${$indexArr.sum_day|round=2}</h4>
											<div class="card-progressbar mb-0 mt-4">
												<div class="progress h-6">
												  <div class="progress-bar bg-orange w-70" role="progressbar"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-12">
								<div class="card">
									<div class="card-body knob-chart">
										<div class=" text-center">
											<span class="text-muted">今日提现</span>
											<h4 class="mt-1">${$indexArr.tixian_day|round=2}</h4>
											<div class="card-progressbar mt-4 mb-0">
												<div class="progress h-6">
												  <div class="progress-bar bg-cyan w-60" role="progressbar"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>火币行情</h4>
									</div>
            						<div class="card-body" style="padding-top: 20px;">
                                        <div class="table-responsive">
            								<table id="hangqing" class="table table-striped table-bordered border-t0 text-nowrap w-100" >
            									<thead>
            										<tr>
            											<th class="wd-15p text-center">交易对</th>
            											<th class="wd-15p">最新价</th>
            											<th class="wd-20p">涨幅</th>
            											<th class="wd-15p">最高价</th>
            											<th class="wd-10p">最低价</th>
            											<th class="wd-25p">24H量</th>
            											<th class="wd-25p">24H成交额</th>
            										</tr>
            									</thead>
            									<tbody>
            										{foreach $market as $key=>$vo } 
	            										<tr>
	            											<td>
	            											    <span>
	            											        <img src="/assets/img/{$vo|strtolower}Small.png" alt="">
	            											        <i>{$vo|strtolower}/USDT</i>
	            											    </span>
	            											</td>
	            											<td>
	            											    <span class="wrap price">
	            											        <b class="close" id="{$vo}Price">4012.06</b>
	            											        <em class="estimated" id="{$vo}ToQc">≈ ¥27282.00</em>
	            											     </span>
	            											</td>
	            											<td>
	            											    <span>
	            											        <b class="rate up" id="{$vo}Increase">+0.45%</b>
	            											    </span>
	            											</td>
	            											<td>
	            											    <span class="wrap high">
	            											        <b class="close" id="{$vo}High">4020.00</b>
	            											        <em class="estimated" id="{$vo}HighToQc">≈ ¥27336.00</em>
	            											    </span>
	            											</td>
	            											<td>
	            											    <span class="wrap low">
	            											        <b class="close" id='{$vo}Low'>3980.00</b>
	            											        <em class="estimated" id="{$vo}LowToQc">≈ ¥27064.00</em>
	            											    </span>
	            											</td>
	            											<td>
	            											    <span class="amount" id="{$vo}Vol">16,860</span>
	            											</td>
	            											<td>
	            											    <span class="vol" id="{$vo}daySum">¥ 457,818,187</span>
	            											</td>
	            										</tr>
            										{/foreach}
            									</tbody>
            								</table>
            							</div>
            						</div>
            					</div>
            				</div>
                        </div>
    
						<div class="row">
							<div class="col-lg-8 col-md-12 col-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>订单统计</h4>
									</div>
									<div class="card-body">
										<div  id="line-chart" class="overflow-hidden"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 col-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>币种统计</h4>
									</div>
									<div class="card-body">
										<div  id="sales-chart" class="overflow-hidden"></div>
									</div>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="col-lg-5 col-xl-4 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>系统公告</h4>
									</div>
									<div class="card-body">
										<ul class="visitor list-unstyled list-unstyled-border">
											{foreach $article as $val}
											<li class="media">
												<img class="mr-3" width="50" src="/assets/img/news/img01.jpg" alt="avatar">
												<div class="media-body">
													<div class="float-right"><small>{$val.createtime|date='Y-m-d H:i:s'}</small></div>
													<div class="media-title">{$val.title}</div>
												</div>
											</li>
											{/foreach}
											<!-- <li class="media">
												<img class="mr-3" width="50" src="/assets/img/news/img01.jpg" alt="avatar">
												<div class="media-body">
													<div class="float-right"><small>15-9-2018</small></div>
													<div class="media-title">Keith Rutherford</div>
													<small>sed do eiusmod tempor incididunt ut labore</small>
												</div>
											</li>
											<li class="media">
                    							<img class="mr-3" width="50" src="/assets/img/news/img01.jpg" alt="avatar">
                    							<div class="media-body">
                    								<div class="float-right"><small>17-9-2018</small></div>
                    								<div class="media-title">Elizabeth Parsons</div>
                    								<small>sed do eiusmod tempor incididunt ut labore</small>
                    							</div>
                    						</li>
											<li class="media">
												<img class="mr-3" width="50" src="/assets/img/news/img01.jpg" alt="avatar">
												<div class="media-body">
													<div class="float-right"><small>17-9-2018</small></div>
													<div class="media-title">Elizabeth Parsons</div>
													<small>sed do eiusmod tempor incididunt ut labore</small>
												</div>
											</li>
											<li class="media border-b0 mb-0 pb-0">
												<img class="mr-3" width="50" src="/assets/img/news/img01.jpg" alt="avatar">
												<div class="media-body">
													<div class="float-right"><small>22-9-2018</small></div>
													<div class="media-title">Nicola Lambert</div>
													<small>sed do eiusmod tempor incididunt ut labore</small>
												</div>
											</li> -->
										
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-7 col-xl-8 col-sm-12">								
								<div class="card">
									<div class="card-header">
										<h4>访问区域</h4>
									</div>
									<div class="card-body" style="padding: 14px 30px;">
										<div id="barchart1" class="overflow-hidden h-365"></div>
									</div>
								</div>
							</div>
					
						</div>
					
					</section>
				</div>
				<!-- 右侧内容   end-->
<script>
	// var ws_url = 'wss://api.huobi.pro/ws';
	var ws_url = 'wss://api.zb.cn/websocket';
	var Room = {
		socket: null,
		uid: 0,
		users: [],
		pingInterval: 0,
		init: function() {
			// 创建一个Socket实例
			this.socket = new WebSocket(ws_url);
			// 打开Socket 
			this.socket.onopen = function(event) {
				{foreach $market as $val}
					Room.send({
						'event':'addChannel',
						'channel':'{$val|strtolower}usdt_ticker',
					});
				{/foreach}
				{foreach $market as $val}
					Room.send({
						'event':'addChannel',
						'channel':'{$val|strtolower}qc_ticker',
					});
				{/foreach}
				// 监听消息
				this.socket.onmessage = function(event) {
					var data = $.parseJSON(event.data);
					// console.log('接收:', data);
					switch(data.channel) {
						case 'btcusdt_ticker':
							this.btcResult(data.ticker);
							break;
						case 'ethusdt_ticker':
							this.ethResult(data.ticker);
							break;
						case 'eosusdt_ticker':
							this.eosResult(data.ticker);
							break;
						case 'xrpusdt_ticker':
							this.xrpResult(data.ticker);
							break;
						case 'btcqc_ticker':
							this.btcqc_ticker(data.ticker);
							break;
						case 'ethqc_ticker':
							this.ethqc_ticker(data.ticker);
							break;
						case 'eosqc_ticker':
							this.eosqc_ticker(data.ticker);
							break;
						case 'xrpqc_ticker':
							this.xrpqc_ticker(data.ticker);
							break;
					}
				}.bind(this);

				// 监听Socket的关闭
				this.socket.onclose = function(event) {
					if(this.pingInterval) clearInterval(this.pingInterval);
					$('.alert').show();
					console.log('Client notified socket has closed', event);
				}.bind(this);
			}.bind(this);

		},
		send: function(e) {
			console.info('发送:', e);
			this.socket.send(JSON.stringify(e));
		},
		btcResult: function(e) {
			// BTC总数
			$('#btc').text('$'+(e.last * {$indexArr.btc}).toFixed(2));
			var btcN 	= Number($('#btc').text().split("$").join(""));
			var ethN 	= Number($('#eth').text().split("$").join(""));
			var usdtN 	= Number($('#usdt').text().split("$").join(""));
            var usdt_cny = {$usdt_cny};
			$('#tAsset').text('￥'+((btcN + ethN + usdtN)*usdt_cny).toFixed(2));
			// btc总提现
			{if array_key_exists('BTC',$indexArr['withdraw'])}
				var btcW = (e.last * {$indexArr.withdraw.BTC.tp_sum}).toFixed(2);
				$('#btcW').val(btcW);
			{else/}
				var btcW = 0;
				$('#btcW').val(btcW);
			{/if}

			var ethW = $('#ethW').val();
			$('#wOrder').text('$'+(Number(btcW) + Number(ethW)).toFixed(2));
			// btc今日提现
			var btcTw;


			{if count($indexArr.Twithdraw)}
				btcTw = (e.last * {$indexArr.Twithdraw.BTC.tp_sum}).toFixed(2);
			{else /}
				btcTw = 0;
			{/if}
			$('#btcTW').val(btcTw);
			var ethTw = $('#ethTW').val();
			$('#tWOrder').text('$'+(Number(btcTw) + Number(ethTw)).toFixed(2));
			// 行情
			$('#BTCPrice').text(e.last);
			$('#BTCHigh').text(e.high);
			$('#BTCLow').text(e.low);
			$('#BTCVol').text(e.vol);
		},
		ethResult: function(e) {
			// ETH总数
			$('#eth').text('$'+(e.last * {$indexArr.eth}).toFixed(2));
			var btcN 	= Number($('#btc').text().split("$").join(""));
			var ethN 	= Number($('#eth').text().split("$").join(""));
			var usdtN 	= Number($('#usdt').text().split("$").join(""));
            var usdt_cny = {$usdt_cny};
			$('#tAsset').text('￥'+((btcN + ethN + usdtN)*usdt_cny).toFixed(2));
			// eth总提现
			{if array_key_exists('ETH',$indexArr['withdraw'])}
				var ethW = (e.last * {$indexArr.withdraw.ETH.tp_sum}).toFixed(2);
				$('#ethW').val(ethW);
			{else/}
				var ethW = 0;
				$('#ethW').val(ethW);
			{/if}
			
			var btcW = $('#btcW').val();
			$('#wOrder').text('$'+(Number(btcW) + Number(ethW)).toFixed(2));
			// eth今日提现
			var ethTw;
			{if count($indexArr.Twithdraw)}
				ethTw = (e.last * {$indexArr.Twithdraw.BTC.tp_sum}).toFixed(2);
			{else /}
				ethTw = 0;
			{/if}
			
			$('#ethTW').val(ethTw);
			var btcTw = $('#btcTW').val();
			$('#tWOrder').text('$'+(Number(btcTw) + Number(ethTw)).toFixed(2));
			// 行情
			$('#ETHPrice').text(e.last);
			$('#ETHHigh').text(e.high);
			$('#ETHLow').text(e.low);
			$('#ETHVol').text(e.vol);
		},
		eosResult: function(e) {
			// 行情
			$('#EOSPrice').text(e.last);
			$('#EOSHigh').text(e.high);
			$('#EOSLow').text(e.low);
			$('#EOSVol').text(e.vol);
		},
		xrpResult: function(e) {
			// 行情
			$('#XRPPrice').text(e.last);
			$('#XRPHigh').text(e.high);
			$('#XRPLow').text(e.low);
			$('#XRPVol').text(e.vol);
		},
		btcqc_ticker: function(e) {
			// 行情
			$('#BTCToQc').text('≈ ¥'+e.last);
			$('#BTCHighToQc').text('≈ ¥'+e.high);
			$('#BTCLowToQc').text('≈ ¥'+e.low);
			$('#BTCdaySum').text('￥ '+(e.last * e.vol).toFixed(2));
		},
		ethqc_ticker: function(e) {
			// 行情
			$('#ETHToQc').text('≈ ¥'+e.last);
			$('#ETHHighToQc').text('≈ ¥'+e.high);
			$('#ETHLowToQc').text('≈ ¥'+e.low);
			$('#ETHdaySum').text('￥ '+(e.last * e.vol).toFixed(2));
		},
		eosqc_ticker: function(e) {
			// 行情
			$('#EOSToQc').text('≈ ¥'+e.last);
			$('#EOSHighToQc').text('≈ ¥'+e.high);
			$('#EOSLowToQc').text('≈ ¥'+e.low);
			$('#EOSdaySum').text('￥ '+(e.last * e.vol).toFixed(2));
		},
		xrpqc_ticker: function(e) {
			// 行情
			$('#XRPToQc').text('≈ ¥'+e.last);
			$('#XRPHighToQc').text('≈ ¥'+e.high);
			$('#XRPLowToQc').text('≈ ¥'+e.low);
			$('#XRPdaySum').text('￥ '+(e.last * e.vol).toFixed(2));
		},
	};
	Room.init();
</script>

<script type="">
	var data 	= {$indexArr1|raw};
	var data1 	= {$currencyOrder|raw};
	// var data 	= {$indexArr1|htmlspecialchars_decode};
</script>
<script src="/assets/js/dashboard3.js"></script>