<style>
    .search .form-control{
        display:inline-block;
        width:171px;
    }
    .search select.form-control{
        height:31px!important;
        line-height: 31px!important;
        padding:0 15px!important;
    }
    .search>div{
        padding:0;
    }
    .search label{
        margin-right:8px;
    }
</style>
<style>
	/*分页样式*/
	.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
	.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
	.pagination .active{background-color: #46A3FF;color: #fff;}
	.pagination .disabled{color:#aaa;}
</style>
<section class="section">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4>投诉订单</h4>
				</div>
				<div class="card-body">
				     <!--搜索条件-->
					<form id="formID">
						<div class="row search" style="margin-bottom:20px;padding:0 10px 0 15px;">
						   <div class="col-sm-12 col-md-2">
							   <label>订单号：
								   <input type="text" name="otc_number" value="{$variate.otc_number}" class="form-control form-control-sm"/>
							   </label>
						   </div>
							<div class="col-sm-12 col-md-2">
								<label>用户名：
									<input type="text" name="username" value="{$variate.username}" class="form-control form-control-sm"/>
								</label>
							</div>
							<div class="col-sm-12 col-md-2">
								<label>交易类型：
									<select class="form-control" name="type">
										<option value="all" {if $variate["type"]=="all"}selected{/if}>全部</option>
										<option value="1" {if $variate["type"]=="1"}selected{/if}>买入</option>
										<option value="2" {if $variate["type"]=="2"}selected{/if}>卖出</option>
									</select>
								</label>
							</div>
							<div class="col-sm-12 col-md-6 text-right">
								<input type="button" class="btn btn-primary tousu" value="搜索">
							</div>
						</div>
					</form>
					<div class="table-responsive">
					<table id="example" class="table table-striped table-bordered border-t0 text-nowrap w-100" >
						<thead>
							<tr>
								<th class="wd-15p">ID</th>
								<th class="wd-25p">订单号</th>
								<th class="wd-25p">用户</th>
								<th class="wd-25p">类型</th>
								<th class="wd-25p">数量</th>
								<th class="wd-25p">价格</th>
								<th class="wd-25p">总额</th>
								<th class="wd-25p">创建时间</th>
								<th class="wd-25p">支付时间</th>
								<th class="wd-25p">支付方式</th>
								<th class="wd-25p">操作</th>
							</tr>
						</thead>
						<tbody>
						{foreach $data as $key=>$vo}
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.otc_number}</td>
								<td>{$vo.username}</td>
								<td>
									{if $vo["type"]==1}买入{/if}
									{if $vo["type"]==2}卖出{/if}
								</td>
								<td>{$vo.number}</td>
								<td>{$vo.price}</td>
								<td>{$vo["number"]*$vo["price"]|round=2}</td>
								<td>{$vo.createtime}</td>
								<td>{$vo.paytime}</td>
								<td>{$vo.paytype}</td>
								<td>
									<a style="cursor:pointer" class="badge badge-warning reset" onclick="reset({$vo.id});">重置</a>
									<a style="cursor:pointer" class="badge badge-success down"  onclick="down({$vo.id});">完成</a>
								</td>
							</tr>
						{/foreach}
				        </tbody>
					</table>
				</div>
				<!-- 分页 -->
            	<div class="row">
            		<div class="col-sm-12 col-md-5">
            			<div class="dataTables_info" id="example_info" role="status" aria-live="polite">共<span>{$count}</span>条</div>
            		</div>
            		<div class="col-sm-12 col-md-7">
            			<div class="dataTables_paginate paging_simple_numbers text-right" >
            				<ul class="pagination" style="justify-content: flex-end;">
								{$page|raw}
            				</ul>
            			</div>
            		</div>
            	</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Grid Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="example-Modal2">订单详情</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<p>
						    <span>订单号：</span>
						    <span id="order_number"></span>
						</p>
					</div>
					<div class="col-md-6">
						<p>
						    <span>分配地址：</span>
						    <span id="address_id"></span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p>
							<span>充值金额：</span>
							<span id="coin_money"></span>
						</p>
					</div>
					<div class="col-md-6">
						<p>
							<span>确认次数：</span>
							<span id="coin_affirm"></span>
						</p>
					</div>
					<div class="col-md-6">
						<p>
						    <span>来源地址：</span>
						    <span id="coin_from"></span>
						</p>
					</div>
					<div class="col-md-6">
						<p>
						    <span>交易哈希：</span>
						    <span id="txid"></span>
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<script>
    /**
     * 过滤数据
     */
    $(".tousu").click(function(){
        var data=$("#formID").serialize();
        $(".app-content").empty();
        $.post("{:url('Otcmanage/tousu')}",data,function(data){
            $(".app-content").append(data);
        });
    });
    /**
     * 分页数据
     */
    $(".pagination a").click(function(){
        var href=this.href;
        var data=$("#formID").serialize();
        $(".app-content").empty();
        $.ajax({
            type: "GET",
            data:data,
            url:href,
            success: function(e) {
                $('.app-content').append(e);
            }
        });
        return false;
    });
    /**
     * 重置投诉
     */
	function reset(id){
        layer.confirm('确定要重置订单吗？', {
            btn: ['确定','关闭'],
			title:"提示",
            btnAlign: 'c'
        }, function(){
            $.post("{:url('Otcmanage/reset')}",{id:id},function(data){
				if(data.status==1){
                    $(".app-content").empty();
                    $.post("{:url('Otcmanage/tousu')}",data,function(data){
                        $(".app-content").append(data);
                    });
                    layer.msg(data.msg, {icon: 1});
				}else{
                    layer.msg(data.msg, {icon: 2});
				}
            });
        }, function(){
            layer.closeAll('iframe');
        });
	}
    /**
     * 完成投诉
     */
    function down(id){
        layer.confirm('确定要完成订单吗？', {
            btn: ['确定','关闭'],
            title:"提示",
            btnAlign: 'c'
        }, function(){
            $.post("{:url('Otcmanage/down')}",{id:id},function(data){
                if(data.status==1){
                    $(".app-content").empty();
                    $.post("{:url('Otcmanage/tousu')}",data,function(data){
                        $(".app-content").append(data);
                    });
                    layer.msg(data.msg, {icon: 1});
                }else{
                    layer.msg(data.msg, {icon: 2});
                }
            });
        }, function(){
            layer.closeAll('iframe');
        });
    }
</script>

