
<style>
	#toast-container>.toast:before{
		top:15px;
	}
	.copy,.createBtn{
	    padding:5px 11px;
	    margin-left:10px;
	    min-width:80px;
	    margin-top:5px;
	}
	.form-group .form-control{
	    display: inline-block;
	}
	.more{
	    display: inline-block;
	    width:100%;
	    text-align:center;
	    margin-top:10px;
	}
</style>
<section class="section">
    
	<div class="card">
		<div class="card-header">
			<h4>在线充币</h4>
		</div>
		<div class="card-body row">		
				<div class="col-lg-8 col-xl-8 col-md-12 col-sm-12">	
					<div class="form-group row mb-3 ">
						<div class="col-md-2 col-form-label" >
							<label>选择币种：</label>
						</div>
						<div class="col-md-8">
						    <select class="form-control" style="width:64%;">
								<option>BTC</option>
								<option>ETH</option>
								<option>USDT</option>
							</select>
							<label class="btn btn-primary text-white col-md-1 createBtn">生成地址</label>
						</div>
					</div>
					<div class="form-group row mb-3 ">
						<div class="col-md-2 col-form-label">
							<label>充币地址：</label>
						</div>
					    <div class="col-md-8">
					        <input type="text" class="form-control" value="ggggggghsjdjdjdkdkkdd" readonly id="foo" style="width:64%;">					
						    <label class="btn btn-primary text-white col-md-1 copy" data-clipboard-action="copy" data-clipboard-target="#foo" onclick="copyNum()">复制地址</label>
					    </div>
					</div>
				
					<div class="form-group row mb-3">
						<div class="col-md-12 col-form-label">
							<label>请通过在线钱包将你需要充值的币种数目发送到该地址。发送完成后系统会自动在此完后交易</label>							
						</div>	
					</div>
				</div>
				<div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">								

					<div class="form-group row mb-0">
						<div class="col-md-12 col-form-label" style="padding-top:0;">							
							<img src="assets/img/scan.png" alt="" style="width:150px;height:150px;text-align: center;">
						</div>	
					</div>
				</div>
				
				
		</div>
		
	</div>
	<div class="row">
		<div class="col-12">
	
			<div class="card">
				<div class="card-header">
					<h4 class="float-left">最近10条充值记录</h4>
				</div>				
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered mb-0 text-nowrap">
							<tr>
								<th>序号</th>
								<th>充币时间</th>
								<th>充币币种</th>
								<th>充币地址</th>
								<th>充币金额</th>
								<th>状态</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>01</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-warning">待处理</div></td>
								<td>成功充值</td>
							</tr>
								<tr>
								<td>02</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-info">已处理</div></td>
								<td>成功充值</td>
							</tr>
								<tr>
								<td>03</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-success">已完成</div></td>
								<td>成功充值</td>
							</tr>
							<tr>
								<td>04</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-danger">有异常</div></td>
								<td>成功充值</td>
							</tr>
						</table>
					</div>
					<a class="more" href="/wallet/rechargeDetail.html"><button class="btn btn-primary">更多记录</button></a>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	toastr.options = {      
        positionClass: "toast-top-center",  // 设置提示款显示的位置
         timeOut: "1000"   // 显示动画的时间   
    };

	function copyNum(){
			var NumClip=document.getElementById("foo");
			var NValue=NumClip.value;
			var valueLength = NValue.length;
			selectText(NumClip, 0, valueLength);
			if(document.execCommand('copy', false, null)){
			    document.execCommand('copy', false, null)// 执行浏览器复制命令		   
			    toastr.success('复制成功！')
			}else{
			    console.log("不兼容");
			}
	    }
	  	function selectText(textbox, startIndex, stopIndex) {
			if(textbox.createTextRange) {
				//ie
			    var range = textbox.createTextRange();
			    range.collapse(true);
			    range.moveStart('character', startIndex);//起始光标
			    range.moveEnd('character', stopIndex - startIndex);//结束光标
			    range.select();//不兼容苹果
			}else{
				//firefox/chrome
			    textbox.setSelectionRange(startIndex, stopIndex);
			    textbox.focus();
			}
	    }
	    
	    /*点击更多进入订单页面*/
		$(".more").on('click', function(e) {
			var href = $(this).attr('href');
			$('.app-content').empty();
			$.ajax({
				type: "GET",
				async : false,
				cache : false,
				url:httpHead+href,
				success: function(data) {
					$('.app-content').append(data);
				}
			});
			return false;
				
		});
</script>