<style>
    .search .form-control{
        display:inline-block;
        width:171px;
    }
    .search select.form-control{
        height:31px!important;
        line-height: 31px!important;
        padding:0 15px!important;
    }
    .search>div{
        padding:0;
    }
    .search label{
        margin-right:8px;
    }
    .breadcrumb-item{
        list-style: none;
    }

</style>
<section class="section">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="float-left">充值记录</h4>	
					<ol class="float-right" >
                    	<li class="breadcrumb-item"><a href="#"> <<返回 </a></li>	
                    </ol>
    			</div>
				<div class="card-body">
				    <!--搜索条件-->
    			    <div class="row search" style="margin-bottom:20px;padding:0 10px 0 15px;">
                       <div class="col-sm-12 col-md-3">
                            <label>选择币种：
                                <select class="form-control">
									<option>BTC</option>
									<option>ETH</option>
									<option>USDT</option>
								</select>
							</label>
                       </div>
                        
                        <div class="col-sm-12 col-md-3">
                           <label>选择状态：
                                <select class="form-control" id="selectStatus">
    								<option>充币</option>
    								<option>提币</option>
    								<option>兑换</option>
    							</select>
    						</label>
                        </div>
                        
                       <div class="col-sm-12 col-md-3">
                           <label><span class="selectText">充币地址：</span>
                               <input type="text" class="form-control form-control-sm" id="startDate"/>
                           </label>
                       </div>
                        <div class="col-sm-12 col-md-3 text-right">
                          <button class="btn btn-primary">搜索</button>
                          <button class="btn btn-info">导出</button>
                       </div>
                    </div>
					<div class="table-responsive">
						<table class="table table-striped table-bordered mb-0 text-nowrap">
							<tr>
								<th>序号</th>
								<th>充币时间</th>
								<th>充币币种</th>
								<th>充币地址</th>
								<th>充币金额</th>
								<th>状态</th>
								<th>备注</th>
							</tr>
							<tr>
								<td>01</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-success">已完成</div></td>
								<td>成功充值</td>
							</tr>
								<tr>
								<td>02</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-danger">有异常</div></td>
								<td>成功充值</td>
							</tr>
								<tr>
								<td>03</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-info">已处理</div></td>
								<td>成功充值</td>
							</tr>
							<tr>
								<td>04</td>
								<td>2019-03-21 10:27:11</td>
								<td>BTC</td>
								<td>dxxsddsdsddsddsd</td>
								<td>100</td>
								<td><div class="badge badge-warning">待处理</div></td>
								<td>成功充值</td>
							</tr>
						</table>
					</div>
					<!-- 分页 -->
                	<div class="row" style="margin-top:20px;">
                		<div class="col-sm-12 col-md-5">
                			<div class="dataTables_info" id="example_info" role="status" aria-live="polite">共<span>100</span>条</div>
                		</div>
                		<div class="col-sm-12 col-md-7">
                			<div class="dataTables_paginate paging_simple_numbers text-right" >
                				<ul class="pagination" style="justify-content: flex-end;">
                					<li class="paginate_button page-item previous disabled" >
                						<a aria-controls="example" data-dt-idx="0" tabindex="0" class="page-link">上一页</a>
                					</li>
                					<li class="paginate_button page-item active">
                						<a aria-controls="example" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                					</li>
                					<li class="page-item ">
                						<a  aria-controls="example" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                					</li>
                					<li class="paginate_button page-item ">
                						<a aria-controls="example" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                					</li>
                					<li class="paginate_button page-item ">
                						<a aria-controls="example" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                					</li>
                					<li class="paginate_button page-item ">
                						<a aria-controls="example" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                					</li>
                					<li class="paginate_button page-item next" id="example_next">
                						<a aria-controls="example" data-dt-idx="6" tabindex="0" class="page-link">下一页</a>
                					</li>
                				</ul>
                			</div>
                		</div>
                	</div>
				</div>
			</div>
		</div>
		
	</div>
	
</section>
<!--Toastr js-->
<script src="assets/plugins/toastr/build/toastr.min.js"></script>
<script>
	toastr.options = {      
        positionClass: "toast-top-center",  // 设置提示款显示的位置
         timeOut: "1000"   // 显示动画的时间   
    };

	function copyNum(){
			var NumClip=document.getElementById("foo");
			var NValue=NumClip.value;
			var valueLength = NValue.length;
			selectText(NumClip, 0, valueLength);
			if(document.execCommand('copy', false, null)){
			    document.execCommand('copy', false, null)// 执行浏览器复制命令		   
			    toastr.success('复制成功！')
			}else{
			    console.log("不兼容");
			}
	    }
	  	function selectText(textbox, startIndex, stopIndex) {
			if(textbox.createTextRange) {
				//ie
			    var range = textbox.createTextRange();
			    range.collapse(true);
			    range.moveStart('character', startIndex);//起始光标
			    range.moveEnd('character', stopIndex - startIndex);//结束光标
			    range.select();//不兼容苹果
			}else{
				//firefox/chrome
			    textbox.setSelectionRange(startIndex, stopIndex);
			    textbox.focus();
			}
	    }
	    
	/*返回上个页面*/
	$(".breadcrumb-item").click(function(){
		$('.app-content').empty();
		$.ajax({
			type: "GET",
			cache:false,
			async:false,
			url: httpHead+'/wallet/recharge.html',
			success: function(data) {
				$('.app-content').append(data).removeAttr("data-type");
			}
		});
	});
	
	/*根据选择状态显示地址*/
   $("#selectStatus").change(function () {
       var current=$("#selectStatus").find("option:selected").text()+"地址";
       $(".selectText").html(current);
   });

</script>