<style>
    .search .form-control{
        display:inline-block;
        width:171px;
    }
    .search select.form-control{
        height:31px!important;
        line-height: 31px!important;
        padding:0 15px!important;
    }
    .search>div{
        padding:0;
    }
    .search label{
        margin-right:8px;
    }
</style>
<style>
    /*分页样式*/
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
    .pagination .active{background-color: #46A3FF;color: #fff;}
    .pagination .disabled{color:#aaa;}
</style>
<section class="section">
    <div class="row">

        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>[ <span class="text-danger">{$username}</span> ]管理员指定{$tmp[$type]}添加</h4>
                </div>

                <div class="card-body">
                    <form class="form-horizontal" id="form">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="username" id="typeName">用户名</label>
                            <div class="col-md-9">
                                <input type="text"  name="list" class="form-control" id="list" value="">
                                <input type="hidden" value="{$admin_uid}" name="admin_uid">
                                <input type="hidden" value="{$tmp_en[$type]}" name="type">
                                <p class="text-danger">指定的用户名( 如多个用户用[ , ]隔开如 13100000000,13200000000 )</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 text-right">
                            <button type="button" class="btn btn-outline-primary  mt-1 mb-0" id="cancelBtn">取消</button>
                            <button type="button" class="btn btn-primary mt-1 mb-0" id="sub">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class=" mb-0">
                    <div class="clearfix card-body p-3 border-bottom">
                        <div class="pull-left">
                            <h5 class="mb-0">管理{$tmp[$type]}列表</h5>
                        </div>

                    </div>
                    <!-- end row -->

                    <div class="card-body pt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table border table-bordered text-nowrap">
                                        <thead>
                                        <tr>
                                            <th class="border-0 text-uppercase  font-weight-bold">ID</th>
                                            <th class="border-0 text-uppercase  font-weight-bold">账号</th>
                                            <th class="border-0 text-uppercase font-weight-bold"> 名称</th>
                                            <th class="border-0 text-uppercase  font-weight-bold">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $data as $vo}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.username}</td>
                                            <td>{$vo.nickname}</td>
                                            <td>
                                                <a class="btn btn-action btn-primary" onclick="ffpz_user_dell({$vo.id},{$admin_uid})"">删除</a>
                                            </td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 分页 -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">共<span>{$count}</span>条</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers text-right" >
                                            <ul class="pagination" style="justify-content: flex-end;">
                                                {$page|raw}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    /**
     * 分页数据处理
     */
    $(".pagination a").click(function(){
        var href=this.href;
        var id 		= {$admin_uid};
        $('.app-content').empty();
        $.ajax({
            type: "GET",
            data:{id: id,},
            url:href,
            success: function(e) {
                $('.app-content').append(e);
            }
        });
        return false;
    });
</script>
<script>
    //提交表单数据
    $("#sub").click(function(){
        var form =new FormData($( "#form")[0] );
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"{:url('admincoin/permission/ffpz_ac')}",
            data:form,
            cache:false,
            contentType: false,
            processData: false,
            success:function(data){
                if(data.status==1){
                    $(".app-content").empty();
                    $.get("{:url('admincoin/permission/ffpz_ac',['id'=>$admin_uid])}",function(data){
                        $(".app-content").append(data);
                    });
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(error){}
        });
    })
    function ffpz_user_dell(user_uid,admin_uid)
    {
        $.ajax({
            type:"POST",
            dataType:"json",
            data: { user_uid: user_uid, admin_uid: admin_uid,},
            url:"{:url('admincoin/permission/ffpz_user_dell')}",
            success: function(e) {
                if(e.status==1){
                    $(".app-content").empty();
                    $.get("{:url('admincoin/permission/ffpz_ac',['id'=>$admin_uid])}",function(data){
                        $(".app-content").append(data);
                    });
                    layer.msg(e.msg);
                }else{
                    layer.msg(e.msg);
                }
            }
        });
        return false;
    }
</script>
