<style>
    .search .form-control{
        display:inline-block;
        width:171px;
    }
    .search select.form-control{
        height:31px!important;
        line-height: 31px!important;
        padding:0 15px!important;
    }
    .search>div{
        padding:0;
    }
    .search label{
        margin-right:8px;
    }
    /*表格背景色*/
    .table-striped tbody tr:nth-of-type(even){
        background-color: #f6f6f9;
    }
    .table-striped tbody tr:nth-of-type(odd){
        background-color: #fff;
    }

    /**/
    .form-control-label {
	    margin-bottom: 0;
	    line-height: 40px;
	    margin: 0 15px 0 20px;
	}

</style>
<section class="section">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4>资产列表</h4>
				</div>
				<div class="card-body">
				     <!--搜索条件-->
    			    <div class="row search" style="margin-bottom:20px;padding:0 10px 0 15px;">
                       <div class="col-sm-12 col-md-4">
                            <!--<label>代理ID：-->
                                <!--<input type="text" class="form-control form-control-sm" id="pid" name="pid" value="{$pArr.0}" />-->
                            <!--</label>-->
                            <label>账号：
                                <input type="text" class="form-control form-control-sm" id="username" name="username" value="{$pArr.1}" />
                            </label>
                           <label>商户名称：
                               <input type="text" class="form-control form-control-sm" id="shopName" name="shopname" value="{$pArr.1}" />
                           </label>
                            <!-- <label>商户类型：
                                <select class="form-control">
									<option>商家</option>
									<option>代理</option>
								</select>
							</label> -->
                       </div>
                       <div class="col-sm-12 col-md-4">
                           <label>开始日期：
                               <input type="text" class="form-control form-control-sm" name="startTime" id="startDate" value="{$pArr.2}"/>
                           </label>
                           <label>结束日期：
                               <input type="text" class="form-control form-control-sm" name="endTime" id="endDate" value="{$pArr.3}"/>
                            </label>
                       </div>
                        <div class="col-sm-12 col-md-4 text-right">
                          <button class="btn btn-primary" class="search" id="search">搜索</button>
                          <!-- <button class="btn btn-info" id="getExcel">导出</button> -->
<!--                          <button class="btn btn-info" id="getExcel"><a href="/admincoin/Shop_manage/shopList?result=true">导出</a></button>-->
                       </div>
                    </div>
                     
					<div class="table-responsive">
					<table id="example" class="table table-striped table-bordered border-t0 text-nowrap w-100">
						<thead>
							<tr>
								<th class="wd-15p">ID</th>
								<!--<th class="wd-15p">代理</th>-->
								<th class="wd-15p">账号</th>
								<th class="wd-20p">名称</th>
								<th class="wd-20p">账户余额</th>
								<th class="wd-20p">账户冻结</th>
								<!-- <th class="wd-15p">申请人姓名</th> -->
								<!-- <th class="wd-10p">商户类型</th> -->
								<th class="wd-25p">加入时间</th>							
								<th class="wd-25p">状态</th>
								<!--<th class="wd-25p">操作</th>-->
							</tr>
						</thead>
						<tbody>
							{if count($list) != 0}
								{foreach $list as $vo}
									<tr>
										<td>{$vo.id}</td>
										<!--<td>{$vo.parentid}</td>-->
                                        <td>{$vo.username}</td>
                                        <td>{$vo.nickname}</td>
										{if $vo.balance}
											<td>
												{foreach $vo.balance as $key=> $val}
												<a onclick="updateWallet(1,{$vo.id},'{$key}')"><i class="fa fa-plus"></i>　</a><a style="min-width: 95px;width:12em;background-color:white;height:2.2em;margin-bottom: .5em;" class="btn btn-xs btn-warning  btn-outline"><span class="fa">{$key|strtoupper}</span> <span>{:number_format($val,2)}</span></a>　<a onclick="updateWallet(2,{$vo.id},'{$key}')"><i class="fa fa-minus"></i></a>  <br>
												{/foreach}
											</td>
										{else/}
											<td>没有余额</td>
										{/if}
                                        {if $vo.balance_ex}
                                        <td>
                                            {foreach $vo.balance_ex as $key=> $val}
                                            <span class="fa">{$key|strtoupper}</span> <span>{:number_format($val,2)}</span><br>
                                            {/foreach}
                                        </td>
                                        {else/}
                                        <td>没有余额</td>
                                        {/if}
										<td>{$vo.createtime}</td>
										<td><div class="badge {$vo.status == '正常' ? 'badge-success' : 'badge-warning';}">{$vo.status}</div></td>								
										<!-- <td>2019-03-21 11:01:22</td> -->
										<!-- <td><div class="badge badge-success">已认证</div></td> -->
										<!--<td><a class="btn btn-action btn-primary" data-id="1">详情</a></td>-->
									</tr>
								{/foreach}
							{else/}
								<tr>
									<td style="text-align: center;font-size:1.1em;letter-spacing:.2em;" colspan="6">没有数据</td>
								</tr>
							{/if}
				        </tbody>
					</table>
					
				</div>
				<!-- 分页 -->
            <div class="row">
            		<div class="col-sm-12 col-md-5">
            			<div class="dataTables_info" id="example_info" role="status" aria-live="polite">共<span>{$count}</span>条</div>
            		</div>
            		<div class="col-sm-12 col-md-7">
            			<div class="dataTables_paginate paging_simple_numbers text-right" >
            				<ul class="pagination" style="justify-content: flex-end;">
								{$list|raw}
            				</ul>
            			</div>
            		</div>
            	</div>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- Modal -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="example-Modal3"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<input type="hidden" class="form-control" id="coinName" name="coinName" value="">
						<input type="hidden" class="form-control" id="id" name="id" value="">		
						<input type="hidden" class="form-control" id="type" name="type" value="">		
						<label for="order-number" class="form-control-label">数量</label>
						<input type="mumber" class="form-control" id="order-number" name="order-number" style="width:70%"  placeholder="请输入数量">						
					</div>						
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" id="sureBtn">确定</button>
				</div>
			</div>
		</div>
	</div>

<script>

    // 引用日期插件
    laydate.render({
      elem: '#startDate' //指定元素
    });
     laydate.render({
      elem: '#endDate' //指定元素
    });
	
	// 点击详情		
	$(".btn-action").on('click', function(e) {
		var dataId = $(this).attr('data-id');
		$('.app-content').empty();
		$.ajax({
			type: "GET",
			async : false,
			cache : false,
			url:'{url(admincoin/Shop_manage/shopDetail)}',
			success: function(data) {
				$('.app-content').append(data);
			}
		});
		return false;
			
	});
 	/*分页*/
	$('.pagination li a').click(function()
	{
		var href = this.href;
		var pid 		= $('#pid').val();
		var startTime 	= $('#startDate').val();
		var endTime 	= $('#endDate').val();
		$('.app-content').empty();
		$.ajax({
			type: "GET",
			url: href,
			data: {
				pid: pid,
				startTime: startTime,
				endTime: endTime
			},
			success: function(data) {
				$('.app-content').append(data);
			}
		});
		return false;
	});

	// 搜索
	$('#search').click(function()
	{
		var pid 		= $('#pid').val();
		var startTime 	= $('#startDate').val();
		var endTime 	= $('#endDate').val();
		var shopName 	= $('#shopName').val();
		var username 	= $('#username').val();
		$('.app-content').empty();
		$.ajax({
			type: "POST",
			data: {
				pid: pid,
				startTime: startTime,
				endTime: endTime,
				shopName: shopName,
                username: username,
			},
			url:'{url(admincoin/ShopManage/shopList)}',
			success: function(e) {
				$('.app-content').append(e);
			}
		});
	});

	// 导出
	$('#getExcel').click(function()
	{
		var pid 		= $('#pid').val();
		var startTime 	= $('#startDate').val();
		var endTime 	= $('#endDate').val();
		var shopName 	= $('#shopName').val();
		this.href = this.href+'pid='+pid+'&startTime='+startTime+'&endTime='+endTime+'&shopName='+shopName;
	});

	// 修改用户余额
	function updateWallet(type, id, currency)
	{
		$("#modal").modal("show");
		$("#example-Modal3").html(currency);
		$('#id').val(id);
		$('#coinName').val(currency);
		$('#type').val(type);
	}

	/* 提交修改余额 */
	$("#sureBtn").click(function(){
		var num 	= $('#order-number').val();
		var id 		= $('#id').val();
		var name 	= $('#coinName').val();
		var type 	= $('#type').val();													// 1--加币，2--减币
		if(num==''){layer.msg("请输入数量");return false;$("#modal").modal("hide");}
		
		$.ajax({
			type: "POST",
			data: {
				id: id,
				num: num,
				name: name,
				type: type,
			},
			url:'/admincoin/Shop_manage/editWallet',
			success: function(e) {
				layer.msg(e.msg);
				$('.app-content').empty();
				$.ajax({
					type: "GET",
					url: '{url(admincoin/ShopManage/shopList)}',
					success: function(data) {
						$('.app-content').append(data);
						$("#modal").modal("hide");
						$(".modal-backdrop").remove();

					}
				});
				return false;
			}
		});
	})
</script>

