<style>
    .search .form-control{
        display:inline-block;
        width:171px;
    }
    .search select.form-control{
        height:31px!important;
        line-height: 31px!important;
        padding:0 15px!important;
    }
    .search>div{
        padding:0;
    }
    .search label{
        margin-right:8px;
    }
</style>
<style>
	/*分页样式*/
	.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
	.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
	.pagination .active{background-color: #46A3FF;color: #fff;}
	.pagination .disabled{color:#aaa;}
</style>
<section class="section">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class=" mb-0">
					<div class="clearfix card-body p-3 border-bottom">
						<div class="pull-left">
							<h5 class="mb-0">积分明细</h5>
						</div>
					
					</div>
					<!-- end row -->

					<div class="card-body pt-4">
					    <!--搜索条件-->
						<form id="formID">
        			    <div class="row search" style="margin-bottom:20px;padding:0 10px 0 15px;">
                           <div class="col-sm-12 col-md-3">
                                <label>选择类型：
									<select class="form-control" name="type">
										<option value="5" {if $variate["type"] == "5"}selected{/if}>全部</option>
										<option value="1" {if $variate["type"] == "1"}selected{/if}>签到</option>
									</select>
    							</label>
                           </div>
							<div class="col-sm-12 col-md-3">
								<label>开始日期：
									<input type="text" class="form-control form-control-sm" name="beigin" value="{$variate.beigin}" id="startDate"/>
								</label>

							</div>
                           <div class="col-sm-12 col-md-3">

                               <label>结束日期：
                                   <input type="text" class="form-control form-control-sm" name="end" value="{$variate.end}" id="endDate"/>
                               </label>
                           </div>
                            
                            <div class="col-sm-12 col-md-3 text-right">
							 <input type="button" class="btn btn-primary bill" value="搜索">
                           </div>
                        </div>
						</form>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table border table-bordered text-nowrap">
										<thead>
											<tr>
												<th class="border-0 text-uppercase  font-weight-bold">ID</th>
												<th class="border-0 text-uppercase  font-weight-bold">积分</th>
												<th class="border-0 text-uppercase  font-weight-bold">日期</th>
												<th class="border-0 text-uppercase font-weight-bold"> 类型</th>
											</tr>
										</thead>
										<tbody>
											{foreach $data as $vo}
												<tr>
													<td>{$num++}</td>
													<td>{if $vo['number']>0}+{else /}-{/if}{$vo.number}</td>
													<td>{$vo.createtime|date="Y-m-d H:i"}</td>
													<td>
														{if $vo.type=="1"}签到{/if}
													</td>
												</tr>
											{/foreach}
										</tbody>
									</table>
								</div>
								<!-- 分页 -->
                            	<div class="row">
                            		<div class="col-sm-12 col-md-5">
                            			<div class="dataTables_info" id="example_info" role="status" aria-live="polite">共<span>{$count}</span>条</div>
                            		</div>
                            		<div class="col-sm-12 col-md-7">
                            			<div class="dataTables_paginate paging_simple_numbers text-right" >
                            				<ul class="pagination" style="justify-content: flex-end;">
												{$page|raw}
                            				</ul>
                            			</div>
                            		</div>
                            	</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
    // 引用日期插件
    laydate.render({
      elem: '#startDate' //指定元素
    });
     laydate.render({
      elem: '#endDate' //指定元素
    });
    /**
     * 过滤数据
     */
    $(".bill").click(function(){
        var data=$("#formID").serialize();
        $('.app-content').empty();
        $.ajax({
            type: "POST",
            data:data,
            url:"{:url('coin/integral')}",
            success: function(e) {
                $('.app-content').append(e);
            }
        });
    });
    /**
     * 分页数据处理
     */
    $(".pagination a").click(function(){
        var href=this.href;
        var data=$("#formID").serialize();
        $('.app-content').empty();
        $.ajax({
            type: "GET",
            data:data,
            url:href,
            success: function(e) {
                $('.app-content').append(e);
            }
        });
        return false;
    });
</script>
				