<style>
    .search .form-control{
        display:inline-block;
        width:171px;
    }
    .search select.form-control{
        height:31px!important;
        line-height: 31px!important;
        padding:0 15px!important;
    }
    .search>div{
        padding:0;
    }
    .search label{
        margin-right:8px;
    }
</style>
<style>
    /*分页样式*/
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
    .pagination .active{background-color: #46A3FF;color: #fff;}
    .pagination .disabled{color:#aaa;}
</style>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>{$title}</h4>
                </div>

                <div class="card-body pt-4">
                    <!--搜索条件-->
                    <form id="formID">
                        <div class="row search" style="margin-bottom:20px;padding:0 10px 0 15px;">
                            <div class="col-sm-12 col-md-3">
                                <label>订单号：
                                    <input type="text" class="form-control form-control-sm" name="order_no" value="{$variate.order_no}" />
                                </label>
                                <label>备注号：
                                    <input type="text" class="form-control form-control-sm" name="liushui_no" value="{$variate.liushui_no}" />
                                </label>
                                <label>订单状态：
                                    <select class="form-control" name="status">
                                        <option value="-1" {if $variate["status"]=="-1"}selected{/if}>全部状态</option>
                                        <option value="0" {if $variate["status"]=="0"}selected{/if}>待打款</option>
                                        <option value="1" {if $variate["status"]=="1"}selected{/if}>待确认</option>
                                        <option value="2" {if $variate["status"]=="2"}selected{/if}>已完成</option>
                                        <option value="3" {if $variate["status"]=="3"}selected{/if}>过期订单</option>
                                        <option value="4" {if $variate["status"]=="4"}selected{/if}>已取消</option>
                                        <option value="5" {if $variate["status"]=="5"}selected{/if}>投诉订单</option>
                                    </select>
                                </label>
                            </div>


                            <div class="col-sm-12 col-md-4">
                                <label>开始日期：
                                    <input type="text" class="form-control form-control-sm" name="beigin" value="{$variate.beigin}" id="startDate"/>
                                </label>
                                <label>结束日期：
                                    <input type="text" class="form-control form-control-sm" name="end" value="{$variate.end}" id="endDate"/>
                                </label>
                            </div>

                            <div class="col-sm-12 col-md-4 text-right">
                                <input type="button" class="btn btn-primary bill" value="搜索">
                            </div>
                        </div>
                    </form>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-striped table-bordered border-t0 text-nowrap w-100">
                                    <thead>
                                    <tr>

                                        <th class="wd-15p">ID</th>
                                        <th class="wd-25p">订单号</th>
                                        <th class="wd-25p">备注号</th>
                                        <th class="wd-25p">交易金额</th>
                                        <th class="wd-25p">手续费金额</th>
                                        <th class="wd-25p">实际到账金额</th>
                                        <th class="wd-25p">交易数量</th>
                                        <th class="wd-25p">手续费数量</th>
                                        <th class="wd-25p">实际到账数量</th>
                                        <th class="wd-25p">交易价格</th>
                                        <th class="wd-25p">支付方式</th>
                                        <th class="wd-25p">订单时间</th>
                                        <th class="wd-25p">回调地址</th>
                                        <th class="wd-25p">回调状态</th>
                                        <th class="wd-25p">交易状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $data as $key=>$vo}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.order_no}</td>
                                        <td>{$vo.liushui_no}</td>
                                        <td>{$vo.price|round=2}</td>
                                        <td>{$vo.shop_fee_cny|round=2}</td>
                                        <td>{$vo.true_num_cny|round=2}</td>
                                        <td>{$vo.num|round=2}</td>
                                        <td><?php if (!empty($vo['shop_fee']) && $vo['shop_fee'] > 0) echo round($vo['shop_fee'],2); ?></td>
                                        <td>{$vo.true_num|round=2}</td>
                                        <td>{$vo.price_cny|round=2}</td>
                                        <td><?php echo $vo['type']; ?></td>
                                        <td>{$vo.time}</td>
                                        <td>{$vo.callback_addr}</td>
                                        <?php if ($vo['callback_addr']) { ?>
                                            <td><?php $tmp = ["<span class='text-danger'>失败</span>", "<span class='text-muted'>成功</span>"];
                                                echo $tmp[$vo['callback_status']]; ?></td>
                                        <?php } else {
                                            echo "<td></td>";
                                        } ?>
                                        <!--                                状态:0=待打款,1=待确认,2=已完成,4=已取消-->
                                        <td>
                                            {if $vo.status=="0"}
                                            <div class="badge badge-warning">待打款</div>
                                            {elseif $vo.status=="1"/}
                                            <div class="badge badge-warning">待确认</div>
                                            {elseif $vo.status=="2"/}
                                            <div class="badge badge-success">已完成</div>
                                            {if ($vo.callback_status=="0") and ($vo.callback_addr!="")}
                                            <div class="badge badge-success" onclick="callbackac({$vo.id})" style="cursor:pointer;
">重发回调
                                            </div>
                                            {/if}
                                            {elseif $vo.status=="3"/}
                                            <div class="badge badge-warning">过期</div>
                                            {elseif $vo.status=="4"/}
                                            <div class="badge badge-warning">已取消</div>
                                            {elseif $vo.status=="5"/}
                                            <div class="badge badge-warning">投诉中</div>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                            <!-- 分页 -->
                            <div class="row">
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
                                        共<span>{$count}</span>条
                                        实际总数量 [<span class="text-danger"> {$true_num|round=2} </span>]
                                        实际总金额 [<span class="text-danger"> {$true_num_cny|round=2} </span>]
                                        总手续费数量 [<span class="text-danger"> {$shop_fee|round=2} </span>]
                                        总手续费金额 [<span class="text-danger"> {$shop_fee_cny|round=2} </span>]
                                        交易金额 [<span class="text-danger"> {$price_zj|round=2} </span>]
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_paginate paging_simple_numbers text-right">
                                        <ul class="pagination" style="justify-content: flex-end;">
                                            {$page|raw}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Grid Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal2">订单详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span>订单号：</span>
                            <span id="order_number"></span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <span>分配地址：</span>
                            <span id="address_id"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span>充值金额：</span>
                            <span id="coin_money"></span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <span>确认次数：</span>
                            <span id="coin_affirm"></span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <span>来源地址：</span>
                            <span id="coin_from"></span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <span>交易哈希：</span>
                            <span id="txid"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * 引用日期插件
     */
    laydate.render({
        elem: '#startDate' //指定元素
    });
    laydate.render({
        elem: '#endDate' //指定元素
    });
    $(".btn-action").click(function(){
        var id=$(this).attr("data-id");
        //type=1 代表是充值订单
        $.post("{:url('index/getcorder')}",{id:id,type:1}, function(data){
            console.log(data);
            $("#order_number").html(data.data.order_number);
            $("#address_id").html(data.data.address_id);
            $("#coin_money").html(data.data.coin_money);
            $("#coin_from").html(data.data.coin_from);
            $("#txid").html(data.data.txid);
            $("#coin_affirm").html(data.data.coin_affirm);
        });
    });
    /**
     * 过滤数据
     */
    $(".bill").click(function(){
        var data=$("#formID").serialize();
        $('.app-content').empty();
        $.ajax({
            type: "POST",
            data:data,
            url:"{:url('shop/match_list')}",
            success: function(e) {
                $('.app-content').append(e);
            }
        });
    });
    /**
     * 分页数据
     */
    $(".pagination a").click(function(){
        var href=this.href;
        var data=$("#formID").serialize();
        $(".app-content").empty();
        $.ajax({
            type: "GET",
            data:data,
            url:href,
            success: function(e) {
                $('.app-content').append(e);
            }
        });
        return false;
    });
</script>

<script>
    //提交表单数据
    function  callbackac(id) {
        console.log(id);
        $.ajax({
            type:"post",
            dataType:"json",
            url:"{:url('shop/callbackac')}",
            data:{
                id:id,
            },
            success:function(data){
                if(data.status==1){
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(error){}
        });
    }
</script>