<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanrisha - A Premium HTML5 Responsive Admin Template</title>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/assets/Javascript/Flot/excanvas.js"></script>
    <![endif]-->
    <!-- The Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet">
    <!-- The Main CSS File -->
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <!-- jQuery -->
    <script src="/assets/Javascript/jQuery/jquery-1.7.2.min.js"></script>
    <!-- Flot -->
    <script src="/assets/Javascript/Flot/jquery.flot.js"></script>
    <script src="/assets/Javascript/Flot/jquery.flot.resize.js"></script>
    <script src="/assets/Javascript/Flot/jquery.flot.pie.js"></script>
    <!-- DataTables -->
    <script src="/assets/Javascript/DataTables/jquery.dataTables.min.js"></script>
    <!-- ColResizable -->
    <script src="/assets/Javascript/ColResizable/colResizable-1.3.js"></script>
    <!-- jQuryUI -->
    <script src="/assets/Javascript/jQueryUI/jquery-ui-1.8.21.min.js"></script>
    <!-- Uniform -->
    <script src="/assets/Javascript/Uniform/jquery.uniform.js"></script>
    <!-- Tipsy -->
    <script src="/assets/Javascript/Tipsy/jquery.tipsy.js"></script>
    <!-- Elastic -->
    <script src="/assets/Javascript/Elastic/jquery.elastic.js"></script>
    <!-- ColorPicker -->
    <script src="/assets/Javascript/ColorPicker/colorpicker.js"></script>
    <!-- SuperTextarea -->
    <script src="/assets/Javascript/SuperTextarea/jquery.supertextarea.min.js"></script>
    <!-- UISpinner -->
    <script src="/assets/Javascript/UISpinner/ui.spinner.js"></script>
    <!-- MaskedInput -->
    <script src="/assets/Javascript/MaskedInput/jquery.maskedinput-1.3.js"></script>
    <!-- ClEditor -->
    <script src="/assets/Javascript/ClEditor/jquery.cleditor.js"></script>
    <!-- Full Calendar -->
    <script src="/assets/Javascript/FullCalendar/fullcalendar.js"></script>
    <!-- Color Box -->
    <script src="/assets/Javascript/ColorBox/jquery.colorbox.js"></script>
    <!-- Kanrisha Script -->
    <script src="/assets/Javascript/kanrisha.js"></script>
    
    <script src="/assets/layer/layer.js"></script>
</head>